body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #f4d5b0);
  margin: 0;
  padding: 0;
  color: #d4a017ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Centra todo verticalmente */
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  margin-bottom: 20px;
}

.header-container {
  position: relative;
  text-align: center;
  width: 100%;
}
.logo-booknest {
  width: 130px;              /* Tamaño del logo */
  height: auto;
  margin-bottom: 10px;       /* Espacio entre la imagen y el título */
  border-radius: 50%;        /* Lo hace circular si es un logo redondo */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-booknest:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}
header h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: #d4a017;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  margin: 0;
  width: 100%;
}

.btn-cerrar {
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 8px 16px;
  font-size: 0.9rem;
  background-color: #0f0092;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-cerrar:hover {
  background-color: #150070;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.seccion {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(6px);
  padding: 20px;
  margin: 20px auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  text-align: left;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

input, select {
  background: rgba(255,255,255,0.8);
  color: #333;
}

button {
  background: #1e3a8a;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0406a0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: rgba(255,255,255,0.9);
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: center;
  color: #333;
}

th {
  background: #977e0d;
  color: #fff;
}

tr:nth-child(even) {
  background: rgba(127,0,255,0.05);
}

.venta { color: green; font-weight: bold; }
.prestamo { color: blue; font-weight: bold; }
.disponible { color: black; font-weight: bold; }

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  opacity: 0.9;
  z-index: 1000;
}

.toast.success { background-color: #00ff08; }
.toast.error { background-color: #ec1000; }
.toast.info { background-color: #319ef7; }
