# SQL Server - Libreria-web
# Copia este archivo a .env y completa los valores

# Servidor (host o instancia, ej: localhost, 192.168.1.10, .\SQLEXPRESS)
DB_SERVER=localhost

# Puerto (1433 por defecto)
DB_PORT=1433

# Nombre de la base de datos
DB_DATABASE=Booknest

# Autenticación SQL (usuario/contraseña)
DB_USER=sa
DB_PASSWORD=Danna1013.

# Opción: usar Trusted Connection (Windows). Si es true, no uses DB_USER/DB_PASSWORD
# DB_TRUSTED_CONNECTION=false

# En Azure o conexiones remotas suele ser true
DB_ENCRYPT=false

# Trust server certificate (útil en desarrollo local)
DB_TRUST_SERVER_CERTIFICATE=true

# Puerto del API
PORT=3000
